@model FCL.Cockerham.Ogsm.Entities.DTOs.UserDto
@{if (Model != null)
{
    <div id="expanderContent">
        <table class="table table-striped table-hover" style="width: 80%">
            <tr style="border:none;background-color:none;">
                <td colspan="6" style="border:none;background-color:none;">
                    @Html.ValidationSummary(true)
                </td>
            </tr>
            <tr>
                <td style='width: 10%; font-weight: bold' class='userTable'>
                    Username:
                </td>
                <td style='width: 28%' class='userTable'>
                    @Model.UserName
                </td>
                <td style='width: 8%; font-weight: bold' class='userTable'>
                    Surname:
                </td>
                <td style='width: 20%' class='userTable'>
                    @Model.LastName
                </td>
                <td style='font-weight: bold;width: 10%' class='userTable' colspan="2">
                    Initial:
                </td>
            </tr>
            <tr>
                <td style='font-weight: bold' class='userTable'>
                    Email:
                </td>
                <td class='userTable'>
                    @Model.Email
                </td>
                <td style='width: 10%; font-weight: bold' class='userTable'>
                    Firstname:
                </td>
                <td style='width: 30%' class='userTable'>
                    @Model.FirstName
                </td>
                <td style='font-weight: bold' class='userTable'>
                    Inactive:
                </td>
                <td class='userTable'>
                    @Model.IsActive
                </td>
            </tr>
            <tr>
                <td style='font-weight: bold' class='userTable'>
                    Title:
                </td>
                <td colspan="5"></td>
            </tr>
        </table>
    </div>
}
}
