@model FCL.Cockerham.Ogsm.Entities.DTOs.PermissionDto
@{
    ViewBag.Title = "Create";
}
<script type="text/javascript">
    $(document).ready(function () {
        $(":input[type='submit']").button();
        $(":input[type='text']").text();
    });
</script>

@using (Html.BeginForm())
{
    <div class="panel panel-primary table-responsive">
        <div class="panel-heading">
            Create Permission
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover" style='width: 80%'>
                <tr>
                    <td colspan="4" style="border:none;">
                        @Html.ValidationSummary(true)
                    </td>
                </tr>
                <tr>
                    <td style='width: 10%; font-weight: bold' class='userTable'>
                        @Html.LabelFor(model => model.PermissionDescription, "Permission Description", new { @class = "form-label" })
                    </td>
                    <td class='userTable'>
                        @Html.TextBoxFor(model => model.PermissionDescription, new { style = "width:450px" })
                        @Html.ValidationMessageFor(model => model.PermissionDescription)
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Create" />
            &nbsp;&nbsp;
            @Html.ActionLink("Go to Permissions", "PermissionIndex", "Admin")
        </div>
    </div>
}
