@model FCL.Cockerham.Ogsm.Entities.DTOs.UserDto
<script type="text/javascript">
    $(document).ready(function () {
        $(":input[type='submit']").button();
    })
</script>

@using (Html.BeginForm("UserCreate", "Admin", FormMethod.Post))
{
    <div class="panel panel-primary table-responsive">
        <div class="panel-heading">
            Create User
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover" style="width:80%;">
                <tr>
                    <td colspan="2" style="border:none;">
                        @Html.ValidationSummary(true)
                    </td>
                </tr>
                <tr>
                    <td style='width: 10%; font-weight: bold' class='userTable'>
                        @Html.LabelFor(model => model.UserName, "Username", new { @class = "form-label" })
                    </td>
                    <td class='userTable'>
                        @Html.TextBoxFor(model => model.UserName, new { style = "width:250px", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserName)
                    </td>
                </tr>

                <tr>
                    <td style='width: 10%; font-weight: bold' class='userTable'>
                        @Html.LabelFor(model => model.FirstName, "Firstname", new { @class = "form-label" })
                    </td>
                    <td class='userTable'>
                        @Html.TextBoxFor(model => model.FirstName, new { style = "width:250px", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </td>
                </tr>

                <tr>
                    <td style='width: 10%; font-weight: bold' class='userTable'>
                        @Html.LabelFor(model => model.LastName, "Lastname", new { @class = "form-label" })
                    </td>
                    <td class='userTable'>
                        @Html.TextBoxFor(model => model.LastName, new { style = "width:250px", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LastName)
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Create" class="btn btn-primary" />
            &nbsp;&nbsp;
            @Html.ActionLink("Go to Users", "Index", "Admin")
        </div>
    </div>
}
