<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <noscript><meta http-equiv="refresh" content="0; URL=/nojs.html" /></noscript>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/adminltecss")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/app")
    <script type="text/javascript" src="~/Scripts/App/app.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition login-page">

    @RenderBody()

    @*<footer class="main-footer main-login-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            <strong>Powered by <a href="http://www.fclanka.com" target="_blank">Four Corners Lanka Pvt Ltd</a></strong>
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2016 <a href="http://www.stratustms.com" target="_blank">Cockerham & Associates, LLC</a>.</strong> All rights reserved.
    </footer>*@

    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/bootstrap")
    @Scripts.Render("~/bundles/js/adminlte")
    @Scripts.Render("~/bundles/js/resources")
    @RenderSection("CustomBodyScripts", required: false)
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/js/helpers")
</body>
</html>
